td:last-child {
	min-width: 36px;
}

.editable-container, .editable-input, .twitter-typeahead, .editableform > .control-group.form-group, .tt-dropdown-menu {
	width: 100% !important;
}

.editable-submit, .editable-cancel {
	display: none;
}

.ingredient_scroll {
	height: 200px;
	margin-bottom: 5px;
	overflow-y: scroll;
}

.ingredient_scroll::-webkit-scrollbar {
	display: none;
}