/* All CSS */
body::-webkit-scrollbar {
	display: none;
	 background-color: yellow;
}

.container table {
	width: 100%;
	margin-top: 130px;
}

tr:after {
	content: ' ';
	display: block;
	visibility: hidden;
	clear: both;
}

thead th {
	height: 30px;
	/*text-align: left;*/
}

tbody {
	height: 100%;
	overflow-y: auto;
}

thead {
	/* fallback */
}

tbody td, thead th {
	width: 19.2%;
	float: left;
}

td {
	height: 47px;
}

input[type=text] {
	width: 100% !important;
}

#backgroundImage{
	margin-top: 100px;
	margin-left: 50px;
}

.full_width_center {
	width: 50%;
	text-align: center;
}

.full_width_center.active {
	border-bottom: 5px solid #488FC7;
}

.container {
	padding-left: 0px;
	padding-right: 0px;
}

.close, .like.unliked, .like.liked:hover {
	font-size: 20px;
	font-weight: bold;
	line-height: 18px;
	color: #d9534f;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.5;
	filter: alpha(opacity=50);
	text-decoration: none;
}

.close:hover, .like.liked, .like.unliked:hover {
	font-size: 20px;
	line-height: 18px;
	color: #d9534f;
	text-decoration: none;
	opacity: 1;
	filter: alpha(opacity=100);
	cursor: pointer;
}

.modal-header {
	padding: 0px 10px;
}

.modal-body {
	padding: 10px;
}

.modal-footer {
	padding: 5px 10px;
}

#header {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

#mainFunction {
	position: fixed;
	margin-top: 51px;
	width: 100%;
	background-color: #C4C4C4;
	display: inline;
	z-index: 2;
}

#inputDataRecipe, #welcome {
	margin-top: 130px;
}
/* All CSS */

/* Undetermined */
.bg {
	background-color: #C4C4C4;
}

.txt {
	color: #333333;
}

.highlight1_bg {
	background-color: #32658D;
}

.highlight1_txt {
	color: #32658D;
}

.highlight2_bg {
	background-color: #3D79A8;
}

.highlight2_txt {
	color: #3D79A8;
}

.highlight3_bg {
	background-color: #488FC7;
}

.highlight3_txt {
	color: #488FC7 !important;
}
/* Undetermined */